body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f3ef;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
